{% extends 'base.html' %}
{% load static %}

{% block title %} Post List {% endblock %}

{% block content %}
  <h1 class="titulo">Lista de posts</h1>
  <a href="{% url 'post_create' %}" class="button">Crea Post</a>
  <a href="{% url 'tag_list' %}" class="button">Crear tag</a>
  <a href="{% url 'peliculas' %}" class="button">Buscar Películas</a>
  <button id="btn-theme-toggle" class="button">Modo Oscuro</button>


  <!-- {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="mensaje {{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %} -->


  <div class="grid">
  </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/post_list.js' %}"></script>
{% endblock %}
